@charset "UTF-8"
ul#album-fotos{
	width:700;
	margin:0 auto;
	padding:50px;
	overflow: hidden;
	list-style:none;
	
}
ul#album-fotos li{
	list-style:none;
	float:left;
	width:160px;
	height:200px;
	margin:10px;
	border:5px solid #ffffff;
	background-color:#ffffff;
	box-shadow:1px 1px 3px rgba(0,0,0,.4);
	-webkit-transition:all .3s ease-in;
	}
	
	ul#album-fotos li:hover{
		-webkit-transform: scale(1.5);
	}
	
ul#album-fotos li span{
	opacity:0;
	color:#ccccff;
	text-shadow:1px 1px 1px #000000;
	background-color: rgba(0,0,0,.3);
	font-size:15px;
	line-height:370px;
	padding:5px;
	}
	ul#album-fotos li:hover span {
		opacity: 1;
	}

ul#album-fotos li#foto01 {
	background: url('../imagens/foto01.jpg')no-repeat;
	background-position:50% 50%;
	background-size:300px 300px;
	background-color:#ffffff;
}
ul#album-fotos li#foto01:hover {
	background-position:opx 0px;
	background-size: 200px 200px;
}

ul#album-fotos li#foto02{
	background: url('../imagens/foto02.jpg') no-repeat;
	background-position:50% 50%;
	background-size:300px 300px;
	background-color:#ffffff;
}
ul#album-fotos li#foto02:hover {
	background-position:opx 0px;
	background-size: 200px 200px;
}

ul#album-fotos li#foto03{
	background: url('../imagens/foto03.jpg') no-repeat;
	background-position:50% 50%;
	background-size:300px 300px;
	background-color:#ffffff;
}
ul#album-fotos li#foto03:hover {
	background-position:opx 0px;
	background-size: 200px 200px;
}

ul#album-fotos li#foto04{
	background: url('../imagens/foto04.jpg') no-repeat;
	background-position:50% 50%;
	background-size:300px 300px;
	background-color:#ffffff;
	
}
ul#album-fotos li#foto04:hover {
	background-position:opx 0px;
	background-size: 200px 200px;
}

ul#album-fotos li#foto05{
	background: url('../imagens/foto05.jpg') no-repeat;
	background-position:50% 50%;
	background-size:300px 300px;
	background-color:#ffffff;
}
ul#album-fotos li#foto05:hover {
	background-position:opx 0px;
	background-size: 200px 200px;
}
ul#album-fotos li#foto06{
	background: url('../imagens/foto06.jpg') no-repeat;
	background-position:50% 50%;
	background-size:300px 300px;
	background-color:#ffffff;
}
ul#album-fotos li#foto06:hover {
	background-position:opx 0px;
	background-size: 200px 200px;
}
ul#album-fotos li#foto07{
	background: url('../imagens/foto07.jpg') no-repeat;
	background-position:50% 50%;
	background-size:300px 300px;
	background-color:#ffffff;
}
ul#album-fotos li#foto07:hover {
	background-position:opx 0px;
	background-size: 200px 200px;
}

ul#album-fotos li#foto08{
	background: url('../imagens/foto08.jpg') no-repeat;
	background-position:50% 50%;
	background-size:300px 300px;
	background-color:#ffffff;
}
ul#album-fotos li#foto08:hover {
	background-position:opx 0px;
	background-size: 200px 200px;
}



	
	
